{% extends "base.html" %}

{% block content %}

<div class='container text-center'>
    <div class='row'>
        <div class='col-8'>

<h1>Welcome to musrker!</h1>
<br/>
    {% for meep in meeps %}
    <div class="alert alert-dark" role="alert">
        <div class="container">
            <div class="row">
              <div class="col-2">
                      <img src="{{ meep.user.profile.prof_image.url }}" class="rounded-circle" width=80 height=80>
              </div>
  
                    <div class="col-10">
                      <b>{{ meep.body }}<br></b>
                      <small class="text-muted">
                          {{ meep.created }}
                          By
                          <a href="{% url 'profile' meep.user.id%}">@{{ meep.user.username|lower }}<br></a>
                          <b>{{ meep.num_of_likes }}</b> Likes <br>
                          {% if user in meep.likes.all %}
                            <a href="{% url 'meep-likes' meep.id %}">👎🏼</a>
                          {% else %}
                            <a href="{% url 'meep-likes' meep.id %}">👍</a>
                          {% endif %}
                          <br>
                          <a href="{% url 'meep' meep.id %}">👁️‍🗨️</a>
                      </small>
                    </div><br/><br/>
            </div>
          </div>
        </div>
    {% endfor %}
</div>

<div class='col-4'>
            <br/><br/>
            {% if form %}
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-secondary">Meep</button>
              </form>
              {% endif %}
</div>
{% endblock %}